.page__trackContainer {
  display: flex;
  padding-left: 5vw;
  margin-bottom: 2vh;
}
.page__forwardSlash {
  padding-left: 8px;
  padding-right: 8px;
}
.page__address {
  font-size: 20px;
  color: #212121;
  text-decoration: underline;
}

/* --- Details Page Section --- */
.details__pageSection {
  display: flex;
}

/* --- Slide --- */
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
}

.slide-container .slide {
  display: none;
  width: 60%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.slide-container .prev {
  left: 10px;
  text-decoration: none;
  color: #212121;
}

.slide-container .next {
  right: 10px;
  text-decoration: none;
  color: #212121;
}

/* --- Details container --- */

.details__rightContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 20px;
}
.details__rightContainer h1 {
  font-size: xx-large;
}
.details__price {
  padding: 10px 0px 10px 0px;
  font-size: x-large;
}
.details__colorContainer {
  margin: 10px 0px 15px 0px;
}
.details__color1 {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: #1a1a2e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.details__color2 {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: #f08a5d;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.details__color3 {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: #835858;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.details__addButton {
  margin: 15px 0px 15px 0px;
  border: none;
  background-color: #DD5252;
  color: whitesmoke;
  width: 60%;
  height: 45px;
  font-size: large;
  cursor: pointer;
}

/* --- Dropdown shoe size menu ---  */
.details__dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 40px;
  background-color: white;
  color: #212121;
  padding: 16px;
  font-size: large;
  border: 1px solid #212121;
  cursor: pointer;
  outline: 0;
}
.details__dropdownIcon {
  width: 30px;
  height: auto;
}

.details__dropdownButton:focus {
  background-color: white;
}

.details__dropdownContainer {
  display: flex;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.details__dropdownContainer a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  width: 60%;
}


@media screen and (max-width: 768px) {

  /* --- Slider --- */
  .slide-container {
    width: 100%;
  }
  .slide-container .slide {
    width: 70%;
  }
  .slide-container .prev {
    left: 2px;
  }
  
  .slide-container .next {
    right: 2px;
  }

  .details__pageSection {
    flex-direction: column;
  }
  .details__rightContainer {
    width: 100%;
    margin-left: 0;
  }

  /* --- Details container --- */
  .details__rightContainer {
    width: 100%;
    justify-content: center;
  }
  .details__rightContainer h1, 
  .details__price,
  .details__colorContainer {
    text-align: center;
  }
  .details__dropdownContainer {
    display: flex !important;
    justify-content: center;
    position: relative;
    display: inline-block;
}
  .details__addButton {
    align-self: center;
  }

}