@import url("https://use.typekit.net/ira7wdv.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main {
  animation: transitionIn 0.8s;
}

body {
  font-family: atten-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

main {
  position: relative;
  min-height: 100vh;
}
.index__headerText {
  background-color: rgba(246, 85, 85, 0.96);
  text-align: center;
  height: 20px;
}

/* --- Navbar --- */

.shoppingBagIconMobile {
  display: none;
}
nav {
  display: flex;
  height: 10vh;
}
.nav-logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  margin-left: 5vw;
  margin-top: -2vh;
  color: #212121;
  text-decoration: none;
  font-family: pacifico, sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  width: 40%;
  height: 100%;
}
.nav-links li a {
  padding: 7px;
  color: #212121;
  text-decoration: none;
  font-size: 16px;
}
.nav-links li a:hover, .target-link {
  border-bottom: 2px solid #212121;
}
.shoppingBagIconDesktop {
  display: flex;
  align-items: center;
}
.shoppingBagIconDesktop img {
  width: 25px;
  margin-right: 10px;
}

/* --- Header ---  */

.index__header {
  margin-bottom: 4vh;
  background-image: url('./assets/jacob-rank-pZRYYYijWco-unsplash.jpg');
  /* Image Jacob Rank on Unsplash - URL https://unsplash.com/photos/pZRYYYijWco */
  background-repeat: no-repeat;
  background-position: center;
}
.index__header h1 {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
  padding: 0 5px 10px 5px;
  font-size: 22px;
}

/* --- Lower circeled menus --- */
.index__lowerMenu {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.index__category:hover {
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
}
.index__categorys {
  text-decoration: none;
  color: #212121;
}
.index__category {
  width: 150px;
  margin: 25px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}
.index__category img {
  width: 100%;
  height: auto;
}

.index__shoeCategory {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


@media screen and (max-width: 768px) {

  /* --- Navbar ---  */
  .line {
    width: 30px;
    height: 3px;
    background: #212121;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav {
    position: relative;
    margin-bottom: 0;
    display: flex;
  }
  .nav-links {
    position: fixed;
    background: #fff0f0;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.7s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1150px at 90% -10%);
    -webkit-clip-path: circle(1150px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    color: #212121;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }
  li.fade {
    opacity: 1;
  }
  .shoppingBagIconDesktop {
    display: none;
  }
  .shoppingBagIconMobile {
    display: flex;
  }
  .shoppingBagIconMobile img {
    width: 30px;
  }

  /* --- Header ---  */
  .index__header h1 {
    height: 60vh;
    padding: 40px;
  }

  /* --- Three circles --- */
  .index__category {
    width: 90px;
    margin: 8px;
    padding: 15px;
  }
  .index__lowerMenu {
    justify-content: space-evenly;
  }

  .main.remove, 
  .footer.remove, 
  .nav-logo.remove,
  .shoppingBagIconMobile.remove {
    display: none;
  }

}