@import url("https://use.typekit.net/ira7wdv.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main {
  animation: transitionIn 0.8s;
}

body {
  font-family: atten-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

main {
  position: relative;
  min-height: 100vh;
}

/* --- Navbar --- */
nav {
  display: flex;
  height: 10vh;
  background: #fff0f0;
  margin-bottom: 5vh;
}
.nav-logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  margin-left: 5vw;
  color: #212121;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  width: 50%;
  height: 100%;
}
.nav-links li a {
  padding: 7px;
  color: #212121;
  text-decoration: none;
  font-size: 16px;
}
.nav-links li a:hover, .target-link {
  border-bottom: 2px solid #212121;
}

/* --- Header ---  */
.index__headerMobile {
  display: none;
}
.index__header {
  margin-bottom: 4vh;
}

.index__headerDesktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.index__headerImages {
  width: 30%;
  max-width: 450px;
  filter: grayscale(30%);
}
.index__headerImages img {
  width: 100%;
  height: auto;
}
.index__imageText {
  font-size: 3vw;
  margin-top: -60px;
  margin-bottom: 20px;
  color: aliceblue;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

/* --- Lower circeled menus --- */
.index__lowerMenu {
  display: flex;
  justify-content: center;
  width: 100vw;
}
/* .index__categorys {
  cursor: pointer;
} */
.index__category:hover {
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
}
.index__category {
  width: 150px;
  margin: 25px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}
.index__category img {
  width: 100%;
  height: auto;
}

.index__shoeCategory {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


@media screen and (max-width: 768px) {

  /* --- Navbar ---  */
  .line {
    width: 30px;
    height: 3px;
    background: #212121;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav {
    position: relative;
  }
  .nav-links {
    position: fixed;
    background: #fff0f0;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.7s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1150px at 90% -10%);
    -webkit-clip-path: circle(1150px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    color: #212121;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }
  li.fade {
    opacity: 1;
  }

  /* --- Header ---  */
  .index__header {
    max-height: 500px;
  }
  .index__headerDesktop {
    display: none;
  }

  .index__headerMobile {
    display: flex;
    flex-direction: column;
    filter: grayscale(30%);
  }

  .index__headerMobile img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .index__imageText {
    font-size: 40px;
    margin-top: -60px;
    margin-bottom: 20px;
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }

  /* --- Three circles --- */
  .index__category {
    width: 90px;
    margin: 8px;
    padding: 15px;
  }
  .index__lowerMenu {
    justify-content: space-evenly;
  }

  .main.remove, .footer.remove, .nav-logo.remove {
    display: none;
  }

}