@import url("https://use.typekit.net/ira7wdv.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main {
  animation: transitionIn 0.8s;
}

body {
  font-family: atten-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

main {
  position: relative;
  min-height: 100vh;
  border-top: 1px solid #e6e6e8;
}
.index__headerText {
  background-color: rgba(246, 85, 85, 0.96);
  color: white;
  text-align: center;
  height: 20px;
}

/* --- Navbar --- */
.dropdown {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100; 
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
}
.dropdown:hover {
  background-color: #f6f6f6;
}
.dropdown:hover .dropdown_menu a {
  display: block;
  padding: 15px;
}
   
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
  
.dropdown_menu a {
  display: none;
  background-color: white;
  padding: 10px 20px;;
  opacity: 0;
}
.dropdown_menu a:hover {
  background-color: #ddd;
  border-bottom: none !important;
}

.dropdown:hover .dropdown_menu {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown_menu {
  display: none;
}
.dropdown_menu a {
  display: block;
  opacity: 1;
  border-bottom: none;
}

.shoppingBagIconMobile {
  display: none;
}
nav {
  display: flex;
  height: 10vh;
}
.nav-logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  margin-left: 5vw;
  margin-top: -2vh;
  color: #212121;
  text-decoration: none;
  font-family: pacifico, sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  width: 40%;
  height: 100%;
}
.nav-links li a {
  padding: 7px;
  color: #212121;
  text-decoration: none;
  font-size: 16px;
}
.nav-links li a:hover, .target-link {
  border-bottom: 2px solid #212121;
}
.shoppingBagIconDesktop {
  display: flex;
  align-items: center;
}
.shoppingBagIconDesktop img {
  width: 25px;
  margin-right: 10px;
}

/* --- Header ---  */
.index__header {
  margin-bottom: 4vh;
  background-image: url('./assets/jacob-rank-pZRYYYijWco-unsplash.jpg');
  /* Image Jacob Rank on Unsplash - URL https://unsplash.com/photos/pZRYYYijWco */
  background-repeat: no-repeat;
  background-position: center;
}
.index__header h1 {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: white;
  font-size: 4rem;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
  padding: 0 5px 10px 5px;
  font-size: 22px;
}

/* --- Lower circeled menus --- */
.index__lowerMenu {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.index__category:hover {
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
  opacity: 0.8;
}
.index__categorys {
  text-decoration: none;
  color: #212121;
}
.index__category {
  width: 150px;
  margin: 25px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}
.index__category img {
  width: 100%;
  height: auto;
}
.index__shoeCategory {
  display: flex;
  justify-content: center;
}

/* --- Lower section --- */
.lowerSection {
  width: 100%;
}
.index__lowerSectionTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  background-color: #f8efd4;
}
.index__lowerText {
  width: 50vw;
}
.index__lowerText h2 {
  padding: 20px;
  font-size: 36px;
}
.index__lowerText p {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
}
.button__learnMore {
  margin-top: 50px;
}
.button__learnMore a {
  color: #212121;
  padding: 1em 3em;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.5px solid #212121;
}
.button__learnMore a:hover {
  background-color: #212121;
  color: white;
}
.button__learnMore a:active {
  background-color: black;
}

/* --- Subscribe form --- */
.subscribe__formContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.subscribe__form {
  width: 50%;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.subscribe__form input {
  outline: none;
  width: 100%;
  height: 100%;
  color: #212121;
  padding-top: 20px;
  border: none;
}
.subscribe__form label {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #212121;
}
.subscribe__form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #212121;
  transform: translate(-100%);
  transition: transform 0.3s ease;
}
.content-email {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.subscribe__form input:focus + .email-label .content-email,
.subscribe__form input:valid + .email-label .content-email {
  transform: translateY(-100%);
  color: #212121;
}

.subscribe__form input:focus + .email-label::after, 
.subscribe__form input:valid + .email-label::after {
  transform: translateX(0%);
}

/* --- Social Media icons --- */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-twitter,
.fa-facebook,
.fa-youtube,
.fa-instagram,
.fa-pinterest {
  color: #212121;
  padding: 5px;
  margin: -10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
  padding: 10px 3vw 10px 3vw;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


@media screen and (max-width: 768px) {

  /* --- Navbar ---  */
  .line {
    width: 30px;
    height: 3px;
    background: #212121;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav {
    position: relative;
    margin-bottom: 0;
    display: flex;
  }
  .nav-links {
    position: fixed;
    background: #fff0f0;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.7s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1150px at 90% -10%);
    -webkit-clip-path: circle(1150px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    color: #212121;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }
  li.fade {
    opacity: 1;
  }
  .shoppingBagIconDesktop {
    display: none;
  }
  .shoppingBagIconMobile {
    display: flex;
  }
  .shoppingBagIconMobile img {
    width: 30px;
  }

  /* --- Header ---  */
  .index__header h1 {
    height: 55vh;
    padding: 40px;
    font-size: 3rem;
  }
  .index__belowheader {
    margin-bottom: 10px;
  }

  /* --- Three circles --- */
  .index__category {
    width: 90px;
    margin: 8px;
    padding: 15px;
  }
  .index__lowerMenu {
    justify-content: space-evenly;
  }

  .main.remove, 
  .footer.remove, 
  .nav-logo.remove,
  .shoppingBagIconMobile.remove,
  .subscribe__formContainer.remove {
    display: none;
  }
  .dropdown-item {
    display: none !important;
  }

  /* --- Lower Section --- */
  .index__lowerText {
    width: 100%;
  }
  .index__lowerText h2 {
    padding: 15px;
    font-size: 30px;
  }
  .index__lowerText p {
    padding: 15px;
    font-size: 20px;
  }

  .subscribe__formContainer {
    height: 25vh;
  }
  .subscribe__form {
    width: 90%;
  }

  .fa-twitter,
  .fa-facebook,
  .fa-youtube,
  .fa-instagram,
  .fa-pinterest {
  margin: -15px;
}
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 2vw 10px 2vw;
  }

}