.page__trackContainer {
  padding-left: 5vw;
}
.page__address {
  font-size: 20px;
  text-decoration: underline;
  margin: 15px 0 10px 0;
}
.products__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.products__product {
  width: 26vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  text-decoration: none;
  color: #212121;
}
.products__product:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
  -moz-box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
  box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
}
.products__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
}
.products__imageContainer img {
  width: 70%;
  height: auto;
}

.products__name {
  align-self: center;
  text-align: center;
}


@media screen and (max-width: 768px) {

  .products__product {
    width: 45vw;
  }
}