.page__trackContainer {
  padding: 0vw 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 100;
}
.page__address {
  font-size: 20px;
  text-decoration: underline;
  margin: 15px 0 10px 0;
}

/* --- Header --- */
.products__header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e8;
}

/* --- Dropdown menu ---  */
.products__dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: white;
  padding: 26px;
  font-size: large;
  cursor: pointer;
}
.products__dropdownIcon {
  width: 30px;
  height: auto;
  margin-left: 50px;
}

.products__dropdownButton:focus {
  background-color: white;
}

.products__dropdownContainer {
  position: relative;
  display: inline-block;
}

.products__dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.products__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.products__dropdownContainer a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

 /* --- Products --- */
.products__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.products__product {
  width: 26vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  text-decoration: none;
  color: #212121;
}
.products__product:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
  -moz-box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
  box-shadow: 0px 4px 9px -4px rgba(104,109,118,1);
}
.products__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 30%;
}
.products__imageContainer h3 {
  justify-content: center;
  background-color: rgba(246, 85, 85, 0.96);
  color: white;
  width: 100%;
  text-align: center;
}
.products__imageContainer img {
  width: 70%;
  height: auto;
}

.products__name {
  align-self: center;
  text-align: center;
}


@media screen and (max-width: 768px) {

  .products__header h1 {
    padding-top: 10px;
  }
  .products__header p {
    padding: 0 10px 10px 10px;
    text-align: center;
  }

  .page__trackContainer {
    padding: 3vh 2vw 5vh 2vw;
 
  }
  .products__dropdownIcon {
    margin-left: 15px;
  }

  .products__product {
    width: 45vw;
  }
}